.feed{
    flex: 0.4;
    border-right: 1px solid var(--border-back);
    border-left: 1px solid var(--border-back);
    min-width: fit-content;
    overflow-y: scroll;
}

.feed::-webkit-scrollbar
{
    display: none;
}
.feed{
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.feed__header{
    position: sticky;
    top: 0;
    background-color: var(--black-color);
    z-index: 100;
    border: 1px solid var(--border-back);
    padding: 15px 20px;
}

h2{
    display: flex;
    justify-content: center;
}
